{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IdentityMe</title>
    <link rel="stylesheet" href= "{% static 'login.css' %}">
    <link rel="icon" href="{% static 'logo (2).png' %}"/>
</head>
<body>
    
    <div class="container" id="container">
        
        
        <div class="form-container sign-in-container">
            
                <h1>Password reset complete</h1>
                <p>Your password has been set. You may go ahead and log in now.</p>
                
                <a href = "login">
                    <button>Login</button>
                </a>
           
        </div>
    </div>

    
    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </script>
</body>
</html>