{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IdentityMe</title>
    <link rel="stylesheet" href= "{% static 'login.css' %}">
    <link rel="icon" href="{% static 'logo (2).png' %}"/>
</head>

<body>
    {% for message in messages %}
        <h3 style="color: red; font-size:15px"> {{message}} </h3>
    {% endfor %}
    <div class="container" id="container">
        
        
        <div class="new" style= "font-size: 10px;height: 100%;" class="form-container sign-in-container">
            <form action="" method = "POST">
                {% csrf_token %}
                <h2>Enter new password</h2>
                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                <input type="password" name="password" placeholder="Password"/>
                <input type="password" name="con_password" placeholder="Confirm Password"/>
                <input type="hidden" name="user_id" value="{{user_id}}"/>
                <button>Submit</button>
            </form>
        </div>
    </div>

    
    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </script>
</body>
</html>