{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IdentityMe</title>
    <link rel="stylesheet" href= "{% static 'login.css' %}">
    <link rel="icon" href="{% static 'logo (2).png' %}"/>
</head>
<body>
    
    <div class="container" id="container">
        
        
        <div class="form-container sign-in-container">
            
                <h1>Reset Password Sent</h1>
                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

                    If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                </p>
        </div>
    </div>

    
    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </script>
</body>
</html>